@model ListingDetailDTO

@{
    ViewData["Title"] = "Property Details";
}
<hr />

<h1> @Model.Address.Number, @Model.Address.FirstLine, @Model.Address.Postcode</h1>

<div>


    <div class="row">
        <div class="col-6 mt-3">


            <h6>Description</h6>
            <p class="mb-3">
                @Html.DisplayFor(model => model.Description)
            </p>
            <h6>Price</h6>
            <h5>@Model.Price</h5>

            @if (User.IsInRole("Customer"))
            {
                <div class="row  mt-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" />

                        <div class="form-group">
                            <div class="col"><h6>Track Listing</h6></div>

                            
                            <input asp-for="Follow"  checked="@ViewData["following"]"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>

              

            </div>
            }

        </div>
        <div class="col-6">
            <dl>
                <dt class="col-sm-2">
                    Views
                </dt>
                <dd class="col-sm-10">
                    <img height="200" width="200" src="~/@Model.Url" />
                </dd>
            </dl>
        </div>
      
    </div>


</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
