@model PaginatedList<ExtendedListingDTO>
@{
    ViewData["Title"] = "Properties";
}

<h1 class="mt-4">Available Properties</h1>

<div class="container">

    @foreach (var listing in @Model)
    {
        <div class="row mt-5">
            <div>
                <img height="200" width="200" src="~/@listing.Url" />
            </div>
            <div class="col-lg-8">
                <div class="">
                    <div class="">For Sale</div>
                    <h5 class="">@listing.ToString()</h5>
                    <div class="">
                        <span>Price</span>
                        <h4>£ @listing.Price</h4>
                    </div>

                    <a type="button" class="btn btn-info" asp-action="Details"
                       asp-route-id="@listing.Id">Details</a>
                </div>
            </div>
        </div>
    }
</div>


@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<nav class="mt-2">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       class="btn btn-lg btn-info @prevDisabled">
        <
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       class="btn btn-lg btn-info @nextDisabled">
        >
    </a>
</nav>