@model PaginatedList<AppointmentManagementDTO>

@{
    ViewData["Title"] = "Appointment Management";
}

<h1 class="mt-3">Appointment Management Dashboard </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Time
                </th>
                <th>
                   Listing
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @item.Listing.Address.Number, @item.Listing.Address.FirstLine, @item.Listing.Address.Postcode
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Appointment Location
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <p>@item.Listing.ToString()</p>
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@{ 
    var prevDisabled = !Model.PreviousPage ? "disabled":"";
    var nextDisabled = !Model.NextPage ? "disabled":"";
}
<nav>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       class="btn btn-lg btn-info @prevDisabled">
   <
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       class="btn btn-lg btn-info @nextDisabled">
    >
    </a>
</nav>