@model IEnumerable<ListingManagementDTO>

@{
    ViewData["Title"] = "Listing Management";
}

<h1 class="mt-3">Listing Management Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>                      
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToString()
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if(User.IsInRole("Admin")){
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
