@model PaginatedList<ServiceDTO>

@{
    ViewData["Title"] = "Service Management";
}

<h1 class="mt-3">Service Management Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th width="15%">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ServiceNameSortParm"]">Service Name</a> 
            </th>
            <th>
                Description
            </th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<nav>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       asp-route-sortOrder="@ViewData["currentSort"]"
       class="btn btn-lg btn-info @prevDisabled">
        <
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       asp-route-sortOrder="@ViewData["currentSort"]"
       class="btn btn-lg btn-info @nextDisabled">
        >
    </a>
</nav>