@model PaginatedList<TicketManagementDTO>

@{
    ViewData["Title"] = "Ticket Management";
}

<h1 class="mt-3">Ticket Management Dashboard</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">Last Name</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreationDateSortParm"]"> Creation Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ActionedSortParm"]">Actioned</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actioned)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<nav>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       asp-route-sortOrder="@ViewData["currentSort"]"
       class="btn btn-lg btn-info @prevDisabled">
        <
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       asp-route-sortOrder="@ViewData["currentSort"]"
       class="btn btn-lg btn-info @nextDisabled">
        >
    </a>
</nav>
