@model PaginatedList<SaleManagementDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BuyerSortParm"]">Buyer</a>
            </th>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Agreed Price</a>
            </th>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SoldPropertySortParm"]">Sold Property</a> 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.FirstLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgreedPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SoldProperty.FirstLine)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<nav>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex-1)"
       asp-route-sortOrder="@ViewData["currentSort"]"

       class="btn btn-lg btn-info @prevDisabled">
        <
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       asp-route-sortOrder="@ViewData["currentSort"]"

       class="btn btn-lg btn-info @nextDisabled">
        >
    </a>
</nav>